h1 {
    color: rgb(226, 43, 113);
}
p {
    color:red;
  }

ul {
    color: rgb(0, 0, 0);
    font-family: roboto;
    font-style: italic;
 
 
}
ul.hej {
    color: rebeccapurple; 
    background-color: burlywood;
}
p.bildtext {
    color:rgb(0, 255, 213);
  }
body {font-weight: 900;font-family:Roboto;}

a {font-weight: 900; font-size: larger; ;}
i.namn {font-style: italic;}    