h1 {
    
}
p {
    
  }

ul {
    
    font-family: roboto;
    font-style: italic;
 
 
}
ul.hej {
    
}
p.bildtext {
    
  }
body {
  font-weight: 400;
  font-family:Roboto;
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: rgb(49,49,49);
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}


a {font-weight: 900; font-size: larger; ;}
i.namn {font-style: italic;}    