h1 {
    
}
p {
    
  }

ul {
    
    font-family: roboto;
    font-style: italic;
 
 
}
ul.hej {
    
}
p.bildtext {
    
  }
body {
  font-weight: 400;
  font-family:Roboto;
  padding: 25px;
  background-color: rgb(242, 242, 242);
  color: rgb(49,49,49);
  font-size: 25px;
  width: 800px;
  vertical-align: middle;
  margin: 0 auto; 
}

.dark-mode {
  background-color: rgb(49,49,49);
  color: rgb(242, 242, 242 )
           }

.light-mode {
  background-color: rgb(242, 242, 242);
  color: rgb(49,49,49);
            }


a {font-weight: 900;
   font-size: larger; ;
  }
i.namn {font-style: italic;}    